.imasugu {
    user-select: none;
    margin: 0;
    padding: 0;
    line-height: 2em;
}

.imasugu p {
    margin: 0 0 0 .5em;
}

.imasugu .title {
    margin-top: 1em;
}

.imasugu .loading-status {
    margin-left: 1em;
    font-weight: normal;
    opacity: .6;
    font-size: .8em;
}

.imasugu .pieces-list, .room {
    white-space: nowrap;
    overflow-x: hidden;
}

.imasugu .pieces-list {
    position: sticky;
    top: 0;
    padding: .5em 0;
    background-color: rgba(255,255,255,.9);
    z-index: 1;
    border-bottom: 1px solid black;
}

.imasugu .piece {
    box-sizing: border-box;
    width: 2.5em;
    display: inline-block;
    margin: 3px;
}

.imasugu .piece:not(.piece-no) {
    text-align: center;
    border: 1px solid black;
}

.imasugu .piece-highlight {
    background-color: yellow;
}

.imasugu .building-bar {
    font-weight: bold;
    padding: .5em;
    position: sticky;
    top: 3.5em;
    background-color: rgba(255,255,255,.9);
}

.imasugu .reload {
    margin-left: 1em;
}

.imasugu .desc-text {
    padding-left: .5em;
    display: inline-block;
    width: 4.5em;
    font-weight: bold;
}

.imasugu .text-major {
    color: #bb0000;
}

.imasugu .desc-text small {
    font-size: .6em;
    opacity: .6;
    font-weight: normal;
}

.imasugu .details-block {
    max-height: 0;
    overflow-y: hidden;
    opacity: 0;
}

.imasugu .details-block.details-block-show {
    transition: opacity .5s ease-out, max-height 1.5s linear;
    opacity: 1;
    max-height: 5000px;
}

.imasugu .details-block .piece {
    transition: background-color .2s;
}

.imasugu .room {
    transition: max-height .2s;
    max-height: 2.5em;
    overflow-y: hidden;
}
.imasugu .room-hidden {
    max-height: 0;
}